@model IEnumerable<Yumiki.Web.WellCovered.Models.MD_Field>

@{
    ViewBag.Title = "Field List";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <div class="well well-sm">
        <div class="btn-group">
            @{
                var hasRecords = Model.Any();
                string paramObjectID = ViewBag.ObjectID;

                @Html.ActionLink("Add", "Create", new { objectID = ViewBag.ObjectID }, new { @class = "btn btn-primary" })

                if (string.IsNullOrWhiteSpace(Request.Params["active"]) || bool.Parse(Request.Params["active"]))
                {
                    @Html.ActionLink("Show Inactive", "List", new { active = false, objectID = paramObjectID }, new { @class = "btn btn-default" })
                }
                else
                {
                    @Html.ActionLink("Show Active", "List", new { active = true, objectID = paramObjectID }, new { @class = "btn btn-default" })
                }
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.FieldName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApiName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FieldType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastUpdateDateUI)
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID, objectID = item.ObjectID })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => string.Format("{0} - {1}", item.FieldName, item.DisplayName))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApiName)
                            </td>
                            <td>
                                @if (item.FieldType == Yumiki.Entity.WellCovered.EN_DataType.E_DATASOURCE)
                                {
                                    @Html.DisplayFor(modelItem => string.Format("{0}{1} - Datasource: {2}", Yumiki.Commons.Helpers.EnumHelper.GetDescription(item.FieldType), (item.IsRequired ? " Required" : string.Empty) , item.Datasource))
                                }
                                else if (item.FieldType == Yumiki.Entity.WellCovered.EN_DataType.E_STRING)
                                {
                                    @Html.DisplayFor(modelItem => string.Format("{0} ({1})", Yumiki.Commons.Helpers.EnumHelper.GetDescription(item.FieldType), item.FieldLength.HasValue ? item.FieldLength.Value : 0))
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => Yumiki.Commons.Helpers.EnumHelper.GetDescription(item.FieldType))
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastUpdateDateUI)
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
