@model Yumiki.Web.WellCovered.Models.MD_App

@{
    ViewBag.Title = "Edit Application";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="well well-sm">
            <div class="btn-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Back", "List", new { }, new { @class = "btn btn-primary" })
            </div>
        </div>

        @Html.HiddenFor(model => model.ID)

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.AppName)
                    @Html.EditorFor(model => model.AppName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AppName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Descriptions)
                    @Html.TextAreaFor(model => model.Descriptions, new { @class = "form-control", @rows = 5 })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="form-group">
                    <span class="checkbox">
                        @Html.EditorFor(model => model.IsActive)
                        @Html.LabelFor(model => model.IsActive)
                    </span>
                </div>
            </div>
        </div>
    }
</div>