@model Yumiki.Web.WellCovered.Models.MD_App

@{
    ViewBag.Title = $"Edit {Model.AppName} application";
}

<div class="container">
    <h1>@ViewBag.Title</h1>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="card bg-secondary">
            <div class="card-body p-2">
                <div class="btn-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    @Html.ActionLink("Back", "List", new { }, new { @class = "btn btn-dark" })
                </div>
            </div>
        </div>

        @Html.HiddenFor(model => model.ID)

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.AppName)
                    @Html.EditorFor(model => model.AppName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AppName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Descriptions)
                    @Html.TextAreaFor(model => model.Descriptions, new { @class = "form-control", @rows = 5 })
                </div>
            </div>
        </div>
        <div class="row"> 
            <div class="col-md-6">
                <div class="form-group">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.LabelFor(model => model.IsActive)
                </div>
            </div>
        </div>
    }
</div>
