@using Yumiki.Web.MoneyTrace.Constants
@using Yumiki.Commons.Dictionaries;
@using Yumiki.Entity.MoneyTrace;
@{
    ViewBag.Title = "Transaction Type";
}

@section Script{
    <script type="text/javascript">
        //Declare constant variables.
        var showActiveTransactionTypeString = 'Show Active Transaction Type';
        var showInactiveTransactionTypeString = 'Show Inactive Transaction Type';

        var app = angular.module('moneyTrace', []);

        //Service to transfer data between controllers.
        app.factory('DataTransfer', function () {
            return { transactionTypeID: '' };
        });

        //Service to communicate with Server.
        app.service('DataService', function ($http) {
            this.getTransactionTypeList = function (showInactive) {
                return $http.get('@Url.HttpRouteUrl(RouteNames.TransactionTypeGetAll, null)', { params: { 'showInactive': showInactive } });
            };

            this.getTransactionTypeByID = function (transactionTypeID) {
                return $http.get('@Url.HttpRouteUrl(RouteNames.TransactionTypeGetByID, null)', { params: { 'transactionTypeID': transactionTypeID } });
            };

            this.save = function (transactionType) {
                return $http.post('@Url.HttpRouteUrl(RouteNames.TransactionTypeGetSave, null)', transactionType);
            };
        });

        //Controller to display items' list
        app.controller('transactionTypeController', function ($scope, $rootScope, $http, DataService, DataTransfer) {
            $scope.inactiveButtonName = showInactiveTransactionTypeString;

            //To determine when load active or inactive list.
            $scope.isStatusChanged = false;

            //Display Dialog and pass data to Dialog.
            $scope.showDialog = function (transactionTypeID) {
                //Call DialogController
                $rootScope.$broadcast("OnLoad", transactionTypeID);
            }

            //Event for other controllers to reload data.
            $rootScope.$on('OnReloadData', function (event) {
                $scope.loadData();
            });

            //Load active or inactive list.
            $scope.loadData = function () {
                var showInactive = true;
                if ($scope.inactiveButtonName == showInactiveTransactionTypeString) {
                    showInactive = false;
                }

                if ($scope.isStatusChanged) {
                    showInactive = !showInactive;
                }

                $(this).showLoadingBar();
                DataService.getTransactionTypeList(showInactive).then(function mySucces(response) {
                    $scope.transactionTypeList = response.data;

                    if ($scope.isStatusChanged) {
                        if ($scope.inactiveButtonName == showInactiveTransactionTypeString) {
                            $scope.inactiveButtonName = showActiveTransactionTypeString;
                        } else {
                            $scope.inactiveButtonName = showInactiveTransactionTypeString;
                        }
                        $scope.isStatusChanged = false;
                    }
                    $(this).hideLoadingBar();
                }, function myError(response) {
                    $scope.isStatusChanged = false;
                    alert(response.data);
                    $(this).hideLoadingBar();
                });
            };

            //When click on "ShowInActiveButton", reload data with active status.
            $scope.loadDataWithStatus = function () {
                $scope.isStatusChanged = true;
                $scope.loadData();
            }
        });

        //Controller to display dialog
        app.controller('transactionTypeDialogController', function ($scope, $rootScope, $http, DataService, DataTransfer) {
            $scope.transactionTypeID = undefined;

            //Used to be called by other controllers.
            $rootScope.$on('OnLoad', function (event, transactionTypeID) {
                $('#dlgTransactionType').modal({ backdrop: 'static' });

                if (transactionTypeID != undefined && transactionTypeID != null) {
                    $scope.transactionTypeID = transactionTypeID;
                    $scope.dialogTitle = "Edit Transaction Type";
                    $(this).showLoadingBar();
                    DataService.getTransactionTypeByID($scope.transactionTypeID)
                        .then(function mySucces(response) {
                            $scope.transactionType = response.data;
                            $(this).hideLoadingBar();
                        }, function myError(response) {
                            alert(response.data);
                            $(this).hideLoadingBar();
                        });

                } else {
                    $scope.dialogTitle = "New Transaction Type";

                    $scope.transactionType = $scope.resetTransactionType();
                }
            });

            //Reset object in new mode.
            $scope.resetTransactionType = function () {
                return {
                    '@CommonProperties.ID': undefined,
                    '@TB_TransactionType.FieldName.TransactionTypeName': '',
                    '@TB_TransactionType.FieldName.IsIncome': false,
                    '@TB_TransactionType.FieldName.IsTransfer': false,
                    '@CommonProperties.IsActive': true
                };
            }

            //Save new or update object
            $scope.save = function (isValid) {
                if (isValid) {
                    $(this).showLoadingBar();
                    DataService.save($scope.transactionType)
                        .then(function mySucces(response) {
                            $scope.transactionTypeID = undefined;
                            $('#dlgTransactionType').modal('hide');

                            $scope.ReloadData();
                        }, function myError(response) {
                            alert('fail');
                            $(this).hideLoadingBar();
                        });
                }
            };

            //After saving, reload list.
            $scope.ReloadData = function () {
                $rootScope.$broadcast("OnReloadData");
            };
        });
    </script>
}
<div ng-app="moneyTrace">
    <div class="container" ng-controller="transactionTypeController" ng-init="loadData();">
        <h2>Transaction Type</h2>
        <div class="well well-sm">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="showDialog();">Add</button>
                <button type="button" class="btn btn-primary" ng-click="loadDataWithStatus();">{{inactiveButtonName}}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="tblTransactionType" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Transaction Type Name</th>
                                <th>Income Type?</th>
                                <th>Transfer Type?</th>
                                <th>Descriptions</th>
                                <th>Active Status</th>
                                <th>Modify Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="transactionType in transactionTypeList">
                                <td>{{ transactionType.@TB_TransactionType.FieldName.TransactionTypeName }}</td>
                                <td>{{ transactionType.@TB_TransactionType.FieldName.IsIncome }}</td>
                                <td>{{ transactionType.@TB_TransactionType.FieldName.IsTransfer }}</td>
                                <td>{{ transactionType.@CommonProperties.Descriptions }}</td>
                                <td>{{ transactionType.@CommonProperties.IsActive }}</td>
                                <td>{{ transactionType.@CommonProperties.LastUpdateDateUI }}</td>
                                <td><a href="#" id="btnEdit" ng-click="showDialog(transactionType.@CommonProperties.ID);">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <div id="dlgTransactionType" class="modal fade" role="dialog" ng-controller="transactionTypeDialogController">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form name="transactionTypeForm" ng-submit="save(transactionTypeForm.$valid)" novalidate>
                    <div class="modal-header">
                        <h4 class="modal-title">{{ dialogTitle }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" ng-class="{ 'has-error' : transactionTypeForm.transactionTypeName.$invalid }">
                            <label>Transaction Type Name</label>
                            <input type="text" name="transactionTypeName" ng-model="transactionType.TransactionTypeName" class="form-control" ng-required="true" />
                            <p ng-show="transactionTypeForm.transactionTypeName.$error.required && transactionTypeForm.transactionTypeName.$dirty" class="help-block">Transaction Type Name is required.</p>
                        </div>
                        <div class="form-group">
                            <label>Descriptions</label>
                            <textarea ng-model="transactionType.Descriptions" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" ng-disabled="transactionTypeForm.$invalid">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

