@model  Yumiki.Web.WellCovered.Models.MD_LiveRecord

@{
    ViewBag.Title = "Edit object";
}

<div class="container">
    <h1>@ViewBag.Title</h1>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        string objectID = Model.ObjectID;
        string recordID = Model.LiveRecordID;

        @Html.Hidden(Yumiki.Web.WellCovered.Controllers.LiveController.ObjectID, objectID)
        @Html.Hidden(Yumiki.Web.WellCovered.Controllers.LiveController.RecordID, recordID)

        <div class="card bg-secondary">
            <div class="card-body p-2">
                <div class="btn-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    @Html.ActionLink("Back", "List", new { objectID = objectID, active = true }, new { @class = "btn btn-dark" })
                </div>
            </div>
        </div>

        foreach (Yumiki.Web.WellCovered.Models.MD_Field field in Model.Fields)
        {
            switch (field.FieldType)
            {
                case Yumiki.Entity.WellCovered.EN_DataType.E_STRING:
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label(field.DisplayName)
                                @if (field.FieldLength > 100)
                                {
                                    @Html.TextArea(field.ApiName, field.Value == null ? string.Empty : field.Value.ToString(), new { @class = "form-control", @rows = 5 })
                                }
                                else
                                {
                                    @Html.TextBox(field.ApiName, field.Value, new { @class = "form-control" })
                                }
                            </div>
                        </div>
                    </div>
                    break;
                case Yumiki.Entity.WellCovered.EN_DataType.E_INT:
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label(field.DisplayName)
                                @Html.TextBox(field.ApiName, field.Value, new { @class = "form-control text-right", @type = "number" })
                            </div>
                        </div>
                    </div>
                    break;
                case Yumiki.Entity.WellCovered.EN_DataType.E_DECIMAL:
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label(field.DisplayName)
                                @Html.TextBox(field.ApiName, field.Value, new { @class = "form-control text-right", @type = "number", step = "0.01" })
                            </div>
                        </div>
                    </div>
                    break;
                case Yumiki.Entity.WellCovered.EN_DataType.E_BOOL:
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.CheckBox(field.ApiName, field.Value == null || string.IsNullOrWhiteSpace(field.Value.ToString()) ? false : bool.Parse(field.Value.ToString()))
                                @Html.Label(field.ApiName)
                            </div>
                        </div>
                    </div>
                    break;
                case Yumiki.Entity.WellCovered.EN_DataType.E_DATE:
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label(field.DisplayName)
                                <div class="input-group date yumiki-control-date">
                                    @Html.TextBox(field.ApiName, field.Value != null && !string.IsNullOrWhiteSpace(field.Value.ToString()) ? ((DateTime)field.Value).ToString(Yumiki.Commons.Dictionaries.Formats.DateTime.LongDate) : string.Empty, new { @class = "form-control" })
                                    <div class="input-group-append input-group-calendar">
                                        <span class="input-group-text">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    break;
                case Yumiki.Entity.WellCovered.EN_DataType.E_DATETIME:
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label(field.DisplayName)
                                <div class="input-group date yumiki-control-datetime">
                                    @Html.TextBox(field.ApiName, field.Value != null && !string.IsNullOrWhiteSpace(field.Value.ToString()) ? ((DateTime)field.Value).ToString(Yumiki.Commons.Dictionaries.Formats.DateTime.LongDateTime2) : string.Empty, new { @class = "form-control" })
                                    <div class="input-group-append input-group-calendar">
                                        <span class="input-group-text">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    break;
                case Yumiki.Entity.WellCovered.EN_DataType.E_TIME:
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label(field.DisplayName)
                                <div class="input-group date yumiki-control-time">
                                    @Html.TextBox(field.ApiName, field.Value != null && !string.IsNullOrWhiteSpace(field.Value.ToString()) ? new DateTime(((TimeSpan)field.Value).Ticks).ToString(Yumiki.Commons.Dictionaries.Formats.DateTime.Hour) : string.Empty, new { @class = "form-control" })
                                    <div class="input-group-append input-group-calendar">
                                        <span class="input-group-text">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    break;
                case Yumiki.Entity.WellCovered.EN_DataType.E_DATASOURCE:
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label(field.DisplayName)
                                @Html.DropDownList(field.ApiName, ((Dictionary<string, SelectList>)ViewBag.Datasources)[field.ApiName], Yumiki.Commons.Dictionaries.CommonValues.SelectOneForDropDown, new { @class = "form-control selectpicker" })
                            </div>
                        </div>
                    </div>
                    break;
            }
        }
    }

    @using (Html.BeginForm("Upload", "Attachment", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-6">
                <input name="recordID" type="hidden" value="@Model.LiveRecordID" />
                <input name="objectID" type="hidden" value="@Model.ObjectID" />

                <div class="input-group">
                    <input name="file" type="file" class="form-control" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-upload"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (Model.Attachments != null)
    {
        foreach (Yumiki.Web.WellCovered.Models.MD_Attachment attachment in Model.Attachments)
        {
            <div class="row">
                <div class="col-xs-1">
                    @using (Html.BeginForm("Delete", "Attachment", FormMethod.Post))
                    {
                        <input name="X-HTTP-Method-Override" type="hidden" value="DELETE" />
                        <input name="recordID" type="hidden" value="@Model.LiveRecordID" />
                        <input name="objectID" type="hidden" value="@Model.ObjectID" />
                        <input name="attachmentID" type="hidden" value="@attachment.ID.ToString()" />

                        <button type="submit" class="btn btn-link">
                            <i class="fa fa-remove"></i>
                        </button>
                    }
                </div>
                <div class="col-xs-5">
                    @Html.ActionLink(attachment.FileName, "Download", "Attachment", new { id = attachment.ID.ToString() }, new { @class = "btn btn-link" })
                </div>
            </div>
        }
    }
</div>
@section BottomScript{
    @Html.Partial("_WellCoveredInclude")

    <script type="text/javascript">
        yumiki.wellCovered.initDateTimePicker('@Yumiki.Commons.Dictionaries.Formats.DateTime.Hour', '@Yumiki.Commons.Dictionaries.Formats.DateTime.ClientMomentLongDate', '@Yumiki.Commons.Dictionaries.Formats.DateTime.ClientMomentLongDateTime');
    </script>
}

