@using Yumiki.Web.MoneyTrace.Constants;
@using Yumiki.Commons.Dictionaries;
@using Yumiki.Entity.MoneyTrace;
 
<!-- Exchange Trace Modal -->
<div id="dlgExchangeTrace" class="modal fade" role="dialog" ng-controller="exchangeTraceDialogController" ng-init="bindControls();">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form name="exchangeTraceForm" ng-submit="save(exchangeTraceForm.$valid)" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">{{ dialogTitle }}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" ng-class="{ 'has-error' : exchangeTraceForm.traceDate.$invalid }">
                        <label>Trace Date</label>
                        <div class='input-group date' datetimepicker datetimeformat="'@Formats.DateTime.ClientMomentLongDate'" ng-model="trace.@TB_Trace.FieldName.TraceDate">
                            <input type="text" name="traceDate" ng-model="trace.@TB_Trace.FieldName.TraceDate" class="form-control" ng-required="true" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        <p ng-show="exchangeTraceForm.traceDate.$error.required && exchangeTraceForm.traceDate.$dirty" class="help-block">Trace Date is required.</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : exchangeTraceForm.sourceAmount.$invalid }">
                        <label>Source Amount</label>
                        <input type="text" name="sourceAmount" ng-model="trace.@TB_Trace.FieldName.Amount" class="form-control text-align-right" ng-required="true" />
                        <div class="text-align-right">{{ trace.@TB_Trace.FieldName.Amount | number:2 }}</div>
                        <p ng-show="exchangeTraceForm.sourceAmount.$error.required && exchangeTraceForm.sourceAmount.$dirty" class="help-block">Source Amount is required.</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : exchangeTraceForm.sourceCurrency.$invalid }">
                        <label>Source Currency</label>
                        <select class="form-control selectpicker" name="sourceCurrency" ng-required="true"
                                ng-model="trace.@TB_Trace.FieldName.CurrencyID"
                                ng-options="item.@CommonProperties.ID as item.@TB_Currency.FieldName.CurrencyName for item in currencyList">
                            <option value="@CommonValues.EmptyValue">@CommonValues.SelectOneForDropDown</option>
                        </select>
                        <p ng-show="exchangeTraceForm.sourceCurrency.$error.required && exchangeTraceForm.sourceCurrency.$dirty" class="help-block">Source Currency is required.</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : exchangeTraceForm.destAmount.$invalid }">
                        <label>Destination Amount</label>
                        <input type="text" name="destAmount" ng-model="trace.@TB_Trace.FieldName.ExchangeAmount" class="form-control text-align-right" ng-required="true" />
                        <div class="text-align-right">{{ trace.@TB_Trace.FieldName.ExchangeAmount | number:2 }}</div>
                        <p ng-show="exchangeTraceForm.destAmount.$error.required && exchangeTraceForm.destAmount.$dirty" class="help-block">Destination Amount is required.</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : exchangeTraceForm.destCurrency.$invalid }">
                        <label>Destination Currency</label>
                        <select class="form-control selectpicker" name="destCurrency" ng-required="true"
                                ng-model="trace.@TB_Trace.FieldName.ExchangeCurrencyID"
                                ng-options="item.@CommonProperties.ID as item.@TB_Currency.FieldName.CurrencyName for item in currencyList">
                            <option value="@CommonValues.EmptyValue">@CommonValues.SelectOneForDropDown</option>
                        </select>
                        <p ng-show="exchangeTraceForm.destCurrency.$error.required && exchangeTraceForm.destCurrency.$dirty" class="help-block">Destination Currency is required.</p>
                    </div>

                    <div class="form-group">
                        <label>Descriptions</label>
                        <textarea ng-model="trace.@CommonProperties.Descriptions" class="form-control" rows="5"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Tags (with ',' separator)</label>
                        <textarea ng-model="trace.@TB_Trace.FieldName.Tags" class="form-control auto-complete" rows="5"></textarea>
                    </div>

                    <div class="form-group">
                        <span class="checkbox">
                            <input type="checkbox" ng-model="trace.@CommonProperties.IsActive" ng-checked="trace.@CommonProperties.IsActive" ng-disabled="isActiveCheckboxDisabled" />
                            <label>Is Active</label>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" ng-disabled="exchangeTraceForm.$invalid" ng-show="trace.@TB_Trace.FieldName.AllowSaving || trace.@CommonProperties.ID == undefined">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>