@using Yumiki.Web.MoneyTrace.Constants;
@using Yumiki.Commons.Dictionaries;
@using Yumiki.Entity.MoneyTrace;

<div class="container-fluid" ng-controller="traceController" ng-init="loadData();">
    <h2>Trace</h2>
    <div class="card bg-secondary mb-3">
        <div class="card-body p-2">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="showTraceDialog(null, '@((int)EN_TransactionType.E_INCOME)');">Trace</button>
                <button type="button" class="btn btn-primary" ng-click="showTraceDialog(null, '@((int)EN_TransactionType.E_BANKING)');">Banking</button>
                <button type="button" class="btn btn-primary" ng-click="showTraceDialog(null, '@((int)EN_TransactionType.E_EXCHANGE)');">Exchange</button>
                <button type="button" class="btn btn-primary" ng-click="showTraceDialog(null, '@((int)EN_TransactionType.E_TRANSFER)');">Transfer</button>
                <!--<button type="button" class="btn btn-primary" ng-click="loadDataWithStatus();">{{inactiveButtonName}}</button>-->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="card mb-3">
                <div class="card-header bg-secondary text-white">
                    Total Amount by Currency
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table id="tblSummary" class="table table-sm table-striped table-bordered table-hover mb-0">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-right">Total</th>
                                    <th>Currency</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="trace in traceTotalSummaryList">
                                    <td class="text-right">{{ trace.@TraceSummary.FieldName.TotalAmount | number:2 }}</td>
                                    <td>{{ trace.@TraceSummary.FieldName.CurrencyShortName }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header bg-secondary text-white">
                    Banking Summary
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive p-0">
                        <table id="tblBankingSummary" class="table table-sm table-striped table-bordered table-hover mb-0">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Bank Name</th>
                                    <th class="text-right">Total</th>
                                    <th>Currency</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="trace in traceBankingSummaryList">
                                    <td>{{ trace.@TraceSummary.FieldName.BankName }}</td>
                                    <td class="text-align-right">{{ trace.@TraceSummary.FieldName.TotalAmount | number:2 }}</td>
                                    <td>{{ trace.@TraceSummary.FieldName.CurrencyShortName }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row justify-content-between mb-3">
                <div class="col-md">
                    <span class="checkbox">
                        <input type="checkbox" ng-model="isDisplayedAll" ng-checked="isDisplayedAll" ng-change="isDisplayAllChange();" />
                        <label>Show All Records</label>
                    </span>
                </div>
                <div class="col-md">
                    <div class="input-group date" datetimepicker datetimeformat="'@Formats.DateTime.ClientShortMonthYear'" ng-model="monthFilter" ng-show="!isDisplayedAll">
                        <input type="text" id="txtMonthFilter" name="traceDate" ng-model="monthFilter" class="form-control" />
                        <div class="input-group-append input-group-calendar">
                            <span class="input-group-text">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary" ng-click="loadData();">Go</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="tblTrace" class="table table-sm table-striped table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>Date</th>
                                    <th>Transaction</th>
                                    <th class="text-right">Amount</th>
                                    <th>Currency</th>
                                    <th>Descriptions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="trace in traceList" ng-class="{'table-warning' : trace.@TB_Trace.FieldName.IsLogTrace}">
                                    <td><a href="#" id="btnEdit" title="Edit" ng-click="showTraceDialog(trace.@CommonProperties.ID, trace.@TB_Trace.FieldName.TransactionType);" ng-hide="trace.@TB_Trace.FieldName.IsLogTrace"><span class="fa fa-edit"></span></a></td>
                                    <td>{{ trace.@TB_Trace.FieldName.TraceDateUI }}</td>
                                    <td>{{ trace.@TB_Trace.FieldName.TransactionTypeName }}</td>
                                    <td class="text-right">{{ trace.@TB_Trace.FieldName.Amount | number:2 }}</td>
                                    <td>{{ trace.@TB_Trace.FieldName.CurrencyName }}</td>
                                    <td>{{ trace.@CommonProperties.Descriptions }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pagingIndexChange();" class="pagination" boundary-link-numbers="true" rotate="true" items-per-page="itemsPerPage"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
