@using Yumiki.Web.MoneyTrace.Constants;
@using Yumiki.Commons.Dictionaries;
@using Yumiki.Commons.Helpers;
@using Yumiki.Entity.MoneyTrace;
@{
    ViewBag.Title = "Trace";
}

@section Script{
    <!--Load Trace List-->
    <script type="text/javascript" title="Load Trace List">
        //Declare constant variables.
        var showActiveTraceString = 'Show Active Traces';
        var showInactiveTraceString = 'Show Inactive Traces';

        var app = angular.module('moneyTrace', []);

        $(document).ready(function () {
            $('.input-datepicker').datetimepicker({
                format: '@DateTimeHelper.ClientMomentLongDate',
                ignoreReadonly: true,
            });

            $('#divMonth').datetimepicker({
                viewMode: 'months',
                format: '@DateTimeHelper.MonthYear'
            });

            $("input:text").focus(function() { $(this).select(); } );
        });

        //Service to communicate with Server.
        app.service('DataService', function ($http) {
            this.getCurrencyList = function () {
                return $http.get('@Url.HttpRouteUrl(RouteNames.CurrencyGetAllWithShareableItems, null)', { params: { 'showInactive': false } });
            };

            this.getBanks = function () {
                return $http.get('@Url.HttpRouteUrl(RouteNames.BankGetAllWithShareableItems, null)', { params: { 'showInactive': false } });
            };

            this.getUsers = function () {
                return $http.get('@Url.HttpRouteUrl(RouteNames.UserGetAll, null)', { params: { 'showInactive': false } });
            };

            this.getTraceList = function (showInactive, isDisplayedAll) {
                var datetime = $('#dtpMonth').val();
                //In case of dtpMonth does not have value, add the default value to it.
                if(datetime == ''){
                    datetime = moment('@ViewBag.CurrentDate').format('@DateTimeHelper.MonthYear');
                }

                return $http.get('@Url.HttpRouteUrl(RouteNames.TraceGetAll, null)', { params: { 'showInactive': showInactive, 'month': datetime , 'isDisplayedAll' : isDisplayedAll} });
            };

            this.getTotalSummaryTraces = function () {
                return $http.get('@Url.HttpRouteUrl(RouteNames.TraceGetTotalSummary, null)');
            };

            this.getBankSummaryTraces = function () {
                return $http.get('@Url.HttpRouteUrl(RouteNames.TraceGetBankingSummary, null)');
            };

            this.getTraceByID = function (traceID) {
                return $http.get('@Url.HttpRouteUrl(RouteNames.TraceGetByID, null)', { params: { 'traceID': traceID } });
            };

            this.save = function (trace) {
                return $http.post('@Url.HttpRouteUrl(RouteNames.TraceSave, null)', trace);
            };
        });

        //Controller to display items' list
        app.controller('traceController', function ($scope, $rootScope, $http, DataService) {
            $scope.inactiveButtonName = showInactiveTraceString;
            $scope.monthFilter = moment('@ViewBag.CurrentDate').format('@DateTimeHelper.MonthYear');
            $scope.isDisplayedAll = false;

            //To determine when load active or inactive list.
            $scope.isStatusChanged = false;

            //Display Normal Trace Dialog and pass data to Dialog.
            $scope.showTraceDialog = function (traceID, transactionType) {
                //Call DialogController
                if (transactionType == '@((int)EN_TransactionType.E_INCOME)' || transactionType == '@((int)EN_TransactionType.E_OUTCOME)') {
                    $rootScope.$broadcast("OnNormalTraceLoad", traceID);
                }
                else if(transactionType == '@((int)EN_TransactionType.E_BANKING)'){
                    $rootScope.$broadcast("OnBankingTraceLoad", traceID);
                }
                else if(transactionType == '@((int)EN_TransactionType.E_EXCHANGE)'){
                    $rootScope.$broadcast("OnExchangeTraceLoad", traceID);
                }
                else if(transactionType == '@((int)EN_TransactionType.E_TRANSFER)'){
                    $rootScope.$broadcast("OnTransferTraceLoad", traceID);
                }
            }

            //Event for other controllers to reload data.
            $rootScope.$on('OnReloadData', function (event) {
                $scope.loadData();
            });

            //Load active or inactive list.
            $scope.loadData = function () {
                var showInactive = true;

                if ($scope.inactiveButtonName == showInactiveTraceString) {
                    showInactive = false;
                }

                if ($scope.isStatusChanged) {
                    showInactive = !showInactive;
                }

                $(this).showLoadingBar();

                //Get total amount summary trace on left side.
                DataService.getTotalSummaryTraces().then(
                    function mySucces(response) {
                        $scope.traceTotalSummaryList = response.data;
                    },
                    function myError(response) {
                        clientMessage(response.data, '', '@Yumiki.Commons.Logging.LogLevel.ERROR');
                    });

                //Get banking summary trace on left side.
                DataService.getBankSummaryTraces().then(
                    function mySucces(response) {
                        $scope.traceBankingSummaryList = response.data;
                    },
                    function myError(response) {
                        clientMessage(response.data, '', '@Yumiki.Commons.Logging.LogLevel.ERROR');
                    });

                //Get all records on right side.
                DataService.getTraceList(showInactive, $scope.isDisplayedAll).then(
                    function mySucces(response) {
                        $scope.traceList = response.data;

                        if ($scope.isStatusChanged) {
                            if ($scope.inactiveButtonName == showInactiveTraceString) {
                                $scope.inactiveButtonName = showActiveTraceString;
                            } else {
                                $scope.inactiveButtonName = showInactiveTraceString;
                            }
                            $scope.isStatusChanged = false;
                        }

                        $(this).hideLoadingBar();

                    },
                    function myError(response) {
                        $scope.isStatusChanged = false;

                        $(this).hideLoadingBar();

                        clientMessage(response.data, '', '@Yumiki.Commons.Logging.LogLevel.ERROR');
                    });
            };

            //When click on "ShowInActiveButton", reload data with active status.
            $scope.loadDataWithStatus = function () {
                $scope.isStatusChanged = true;
                $scope.loadData();
            }
        });
    </script>

    <!--Normal Trace Dialog-->
    <script type="text/javascript" title="Normal Trace Dialog">
        //Controller to display dialog
        app.controller('normalTraceDialogController', function ($scope, $rootScope, $http, DataService) {
            $scope.traceID = undefined;
            $scope.isActiveCheckboxDisabled = false;

            //Used to be called by other controllers.
            $rootScope.$on('OnNormalTraceLoad', function (event, traceID) {
                $('#dlgNormalTrace').modal({ backdrop: 'static' });

                if (traceID != undefined && traceID != null) {
                    $scope.traceID = traceID;
                    $scope.isActiveCheckboxDisabled = false;
                    $scope.dialogTitle = "Edit Trace";

                    $(this).showLoadingBar();

                    DataService.getTraceByID($scope.traceID)
                        .then(function mySucces(response) {
                            $scope.trace = response.data;

                            //Format date to display on TraceDate input
                            $scope.trace.@TB_Trace.FieldName.TraceDate = moment($scope.trace.@TB_Trace.FieldName.TraceDate).format('@DateTimeHelper.ClientMomentLongDate');

                            $(this).hideLoadingBar();

                        }, function myError(response) {
                            $(this).hideLoadingBar();

                            clientMessage(response.data, '', '@Yumiki.Commons.Logging.LogLevel.ERROR');
                        });

                } else {
                    $scope.dialogTitle = "New Trace";
                    $scope.isActiveCheckboxDisabled = true;

                    $scope.trace = $scope.resetTrace();
                }
            });

            //Reset object in new mode.
            $scope.resetTrace = function () {
                $scope.traceForm.$setPristine();
                return {
                    '@CommonProperties.ID': undefined,
                    '@TB_Trace.FieldName.Amount': 0,
                    '@TB_Trace.FieldName.Tags': '',
                    '@TB_Trace.FieldName.CurrencyID': '',
                    '@TB_Trace.FieldName.TransactionType': @((int)EN_TransactionType.E_INCOME),
                    '@TB_Trace.FieldName.TraceDate': '@ViewBag.CurrentDate',
                    '@CommonProperties.IsActive': true
                };
            }

            //Save new or update object
            $scope.save = function (isValid) {
                if (isValid) {
                    //datetimepicker does not work with ng-model, bind data manually.
                    $scope.trace.@TB_Trace.FieldName.TraceDate = $('#dtpNormalTraceDate').val();

                    //If amount < 0, it is outcome. Otherwise, it is income trace.
                    if($scope.trace.@TB_Trace.FieldName.Amount >= 0){
                        $scope.trace.@TB_Trace.FieldName.TransactionType = @((int)EN_TransactionType.E_INCOME);
                    }
                    else{
                        $scope.trace.@TB_Trace.FieldName.TransactionType = @((int)EN_TransactionType.E_OUTCOME);
                    }

                    $(this).showLoadingBar();
                    DataService.save($scope.trace)
                        .then(function mySucces(response) {
                            $scope.traceID = undefined;
                            $('#dlgNormalTrace').modal('hide');

                            $scope.ReloadData();
                        }, function myError(response) {
                            $(this).hideLoadingBar();

                            clientMessage(response.data, '', '@Yumiki.Commons.Logging.LogLevel.ERROR');
                        });
                }
            };

            //After saving, reload list.
            $scope.ReloadData = function () {
                $rootScope.$broadcast("OnReloadData");
            };

            // Bind datasource to controls such as Dropdownlist
            $scope.bindControls = function () {
                DataService.getCurrencyList().then(
                    function mySucces(response) {
                        $scope.currencyList = response.data;
                    }, function myError(response) {
                        clientMessage(response.data, '', '@Yumiki.Commons.Logging.LogLevel.ERROR');
                    });
            }
        });
    </script>

    <!--Banking Trace Dialog-->
    <script type="text/javascript" title="Banking Trace Dialog">
        //Controller to display dialog
        app.controller('bankingTraceDialogController', function ($scope, $rootScope, $http, DataService) {
            $scope.traceID = undefined;
            $scope.isActiveCheckboxDisabled = false;

            //Used to be called by other controllers.
            $rootScope.$on('OnBankingTraceLoad', function (event, traceID) {
                $('#dlgBankingTrace').modal({ backdrop: 'static' });

                if (traceID != undefined && traceID != null) {
                    $scope.traceID = traceID;
                    $scope.isActiveCheckboxDisabled = false;
                    $scope.dialogTitle = "Edit Banking Trace";

                    $(this).showLoadingBar();

                    DataService.getTraceByID($scope.traceID)
                        .then(
                            function mySucces(response) {
                                $scope.trace = response.data;

                                //Format date to display on TraceDate input
                                $scope.trace.@TB_Trace.FieldName.TraceDate = moment($scope.trace.@TB_Trace.FieldName.TraceDate).format('@DateTimeHelper.ClientMomentLongDate');

                                $(this).hideLoadingBar();

                            },
                            function myError(response) {
                                $(this).hideLoadingBar();

                                clientMessage(response.data, '', '@Yumiki.Commons.Logging.LogLevel.ERROR');
                            });

                } else {
                    $scope.dialogTitle = "New Banking Trace";
                    $scope.isActiveCheckboxDisabled = true;

                    $scope.trace = $scope.resetTrace();
                }
            });

            //Reset object in new mode.
            $scope.resetTrace = function () {
                $scope.bankingTraceForm.$setPristine();
                return {
                    '@CommonProperties.ID': undefined,
                    '@TB_Trace.FieldName.Amount': 0,
                    '@TB_Trace.FieldName.Tags': '',
                    '@TB_Trace.FieldName.CurrencyID': '',
                    '@TB_Trace.FieldName.BankName': '',
                    '@TB_Trace.FieldName.TransactionType': @((int)EN_TransactionType.E_BANKING),
                    '@TB_Trace.FieldName.TraceDate': '@ViewBag.CurrentDate',
                    '@CommonProperties.IsActive': true
                };
            }

            //Save new or update object
            $scope.save = function (isValid) {
                if (isValid) {
                    //datetimepicker does not work with ng-model, bind data manually.
                    $scope.trace.@TB_Trace.FieldName.TraceDate = $('#dtpBankingTraceDate').val();

                    $(this).showLoadingBar();

                    DataService.save($scope.trace)
                        .then(function mySucces(response) {
                            $scope.traceID = undefined;
                            $('#dlgBankingTrace').modal('hide');

                            $scope.ReloadData();
                        }, function myError(response) {
                            $(this).hideLoadingBar();

                            clientMessage(response.data, '', '@Yumiki.Commons.Logging.LogLevel.ERROR');
                        });
                }
            };

            //After saving, reload list.
            $scope.ReloadData = function () {
                $rootScope.$broadcast("OnReloadData");
            };

            // Bind datasource to controls such as Dropdownlist
            $scope.bindControls = function () {
                DataService.getCurrencyList().then(
                    function mySucces(response) {
                        $scope.currencyList = response.data;
                    }, function myError(response) {
                        clientMessage(response.data, '', '@Yumiki.Commons.Logging.LogLevel.ERROR');
                    });

                DataService.getBanks().then(
                    function mySucces(response) {
                        $scope.banks = response.data;
                    }, function myError(response) {
                        clientMessage(response.data, '', '@Yumiki.Commons.Logging.LogLevel.ERROR');
                    });
            }
        });
    </script>

    <!--Exchange Trace Dialog-->
    <script type="text/javascript" title="Exchange Trace Dialog">
        //Controller to display dialog
        app.controller('exchangeTraceDialogController', function ($scope, $rootScope, $http, DataService) {
            $scope.traceID = undefined;
            $scope.isActiveCheckboxDisabled = false;

            //Used to be called by other controllers.
            $rootScope.$on('OnExchangeTraceLoad', function (event, traceID) {
                $('#dlgExchangeTrace').modal({ backdrop: 'static' });

                if (traceID != undefined && traceID != null) {
                    $scope.traceID = traceID;
                    $scope.isActiveCheckboxDisabled = false;
                    $scope.dialogTitle = "Edit Exchange Trace";

                    $(this).showLoadingBar();

                    DataService.getTraceByID($scope.traceID)
                        .then(
                            function mySucces(response) {
                                $scope.trace = response.data;

                                //Format date to display on TraceDate input
                                $scope.trace.@TB_Trace.FieldName.TraceDate = moment($scope.trace.@TB_Trace.FieldName.TraceDate).format('@DateTimeHelper.ClientMomentLongDate');

                                $(this).hideLoadingBar();

                            },
                            function myError(response) {
                                $(this).hideLoadingBar();

                                clientMessage(response.data, '', '@Yumiki.Commons.Logging.LogLevel.ERROR');
                            });

                } else {
                    $scope.dialogTitle = "New Exchange Trace";
                    $scope.isActiveCheckboxDisabled = true;

                    $scope.trace = $scope.resetTrace();
                }
            });

            //Reset object in new mode.
            $scope.resetTrace = function () {
                $scope.exchangeTraceForm.$setPristine();
                return {
                    '@CommonProperties.ID': undefined,
                    '@TB_Trace.FieldName.Amount': 0,
                    '@TB_Trace.FieldName.ExchangeAmount': 0,
                    '@TB_Trace.FieldName.Tags': '',
                    '@TB_Trace.FieldName.CurrencyID': '',
                    '@TB_Trace.FieldName.ExchangeCurrencyID': '',
                    '@TB_Trace.FieldName.TransactionType': @((int)EN_TransactionType.E_EXCHANGE),
                    '@TB_Trace.FieldName.TraceDate': '@ViewBag.CurrentDate',
                    '@CommonProperties.IsActive': true
                };
            }

            //Save new or update object
            $scope.save = function (isValid) {
                if (isValid) {
                    //datetimepicker does not work with ng-model, bind data manually.
                    $scope.trace.@TB_Trace.FieldName.TraceDate = $('#dtpExchangeTraceDate').val();

                    $(this).showLoadingBar();

                    DataService.save($scope.trace)
                        .then(
                            function mySucces(response) {
                                $scope.traceID = undefined;

                                $('#dlgExchangeTrace').modal('hide');

                                $scope.ReloadData();
                            },
                            function myError(response) {
                                $(this).hideLoadingBar();

                                clientMessage(response.data, '', '@Yumiki.Commons.Logging.LogLevel.ERROR');
                        });
                }
            };

            //After saving, reload list.
            $scope.ReloadData = function () {
                $rootScope.$broadcast("OnReloadData");
            };

            // Bind datasource to controls such as Dropdownlist
            $scope.bindControls = function () {
                DataService.getCurrencyList().then(
                    function mySucces(response) {
                        $scope.currencyList = response.data;
                    }, function myError(response) {
                        clientMessage(response.data, '', '@Yumiki.Commons.Logging.LogLevel.ERROR');
                    });
            }
        });
    </script>

    <!--Transfer Trace Dialog-->
    <script type="text/javascript" title="Transfer Trace Dialog">
        //Controller to display dialog
        app.controller('transferTraceDialogController', function ($scope, $rootScope, $http, DataService) {
            $scope.traceID = undefined;
            $scope.isActiveCheckboxDisabled = false;

            //Used to be called by other controllers.
            $rootScope.$on('OnTransferTraceLoad', function (event, traceID) {
                $('#dlgTransferTrace').modal({ backdrop: 'static' });

                if (traceID != undefined && traceID != null) {
                    $scope.traceID = traceID;
                    $scope.isActiveCheckboxDisabled = false;
                    $scope.dialogTitle = "Edit Transfer Trace";

                    $(this).showLoadingBar();

                    DataService.getTraceByID($scope.traceID)
                        .then(function mySucces(response) {
                            $scope.trace = response.data;

                            //Format date to display on TraceDate input
                            $scope.trace.@TB_Trace.FieldName.TraceDate = moment($scope.trace.@TB_Trace.FieldName.TraceDate).format('@DateTimeHelper.ClientMomentLongDate');

                            $(this).hideLoadingBar();

                        }, function myError(response) {
                            $(this).hideLoadingBar();

                            clientMessage(response.data, '', '@Yumiki.Commons.Logging.LogLevel.ERROR');
                        });

                } else {
                    $scope.dialogTitle = "New Transfer Trace";
                    $scope.isActiveCheckboxDisabled = true;

                    $scope.trace = $scope.resetTrace();
                }
            });

            //Reset object in new mode.
            $scope.resetTrace = function () {
                $scope.transferTraceForm.$setPristine();
                return {
                    '@CommonProperties.ID': undefined,
                    '@TB_Trace.FieldName.Amount': 0,
                    '@TB_Trace.FieldName.Tags': '',
                    '@TB_Trace.FieldName.CurrencyID': '',
                    '@TB_Trace.FieldName.TransferredUserID': '',
                    '@TB_Trace.FieldName.TransactionType': @((int)EN_TransactionType.E_TRANSFER),
                    '@TB_Trace.FieldName.TraceDate': '@ViewBag.CurrentDate',
                    '@CommonProperties.IsActive': true
                };
            }

            //Save new or update object
            $scope.save = function (isValid) {
                if (isValid) {
                    //datetimepicker does not work with ng-model, bind data manually.
                    $scope.trace.@TB_Trace.FieldName.TraceDate = $('#dtpTransferTraceDate').val();

                    $(this).showLoadingBar();

                    DataService.save($scope.trace)
                        .then(function mySucces(response) {
                            $scope.traceID = undefined;
                            $('#dlgTransferTrace').modal('hide');

                            $scope.ReloadData();
                        }, function myError(response) {
                            $(this).hideLoadingBar();

                            clientMessage(response.data, '', '@Yumiki.Commons.Logging.LogLevel.ERROR');
                        });
                }
            };

            //After saving, reload list.
            $scope.ReloadData = function () {
                $rootScope.$broadcast("OnReloadData");
            };

            // Bind datasource to controls such as Dropdownlist
            $scope.bindControls = function () {
                DataService.getCurrencyList().then(
                    function mySucces(response) {
                        $scope.currencyList = response.data;
                    }, function myError(response) {
                        clientMessage(response.data, '', '@Yumiki.Commons.Logging.LogLevel.ERROR');
                    });

                DataService.getUsers().then(
                   function mySucces(response) {
                       $scope.userList = response.data;
                   }, function myError(response) {
                       clientMessage(response.data, '', '@Yumiki.Commons.Logging.LogLevel.ERROR');
                   });
            }
        });
    </script>
}

<div ng-app="moneyTrace">
    <div class="container-fruid" ng-controller="traceController" ng-init="loadData();">
        <h2>Trace</h2>
        <div class="well well-sm">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="showTraceDialog(null, '@((int)EN_TransactionType.E_INCOME)');">Trace</button>
                <button type="button" class="btn btn-primary" ng-click="showTraceDialog(null, '@((int)EN_TransactionType.E_BANKING)');">Banking</button>
                <button type="button" class="btn btn-primary" ng-click="showTraceDialog(null, '@((int)EN_TransactionType.E_EXCHANGE)');">Exchange</button>
                <button type="button" class="btn btn-primary" ng-click="showTraceDialog(null, '@((int)EN_TransactionType.E_TRANSFER)');">Transfer</button>
                <!--<button type="button" class="btn btn-primary" ng-click="loadDataWithStatus();">{{inactiveButtonName}}</button>-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Total Amount by Currency</div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="tblSummary" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-align-right">Total</th>
                                        <th>Currency</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="trace in traceTotalSummaryList">
                                        <td class="text-align-right">{{ trace.@TraceSummary.FieldName.TotalAmount | number:2 }}</td>
                                        <td>{{ trace.@TraceSummary.FieldName.CurrencyShortName }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Banking Summary</div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="tblBankingSummary" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Bank Name</th>
                                        <th class="text-align-right">Total</th>
                                        <th>Currency</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="trace in traceBankingSummaryList">
                                        <td>{{ trace.@TraceSummary.FieldName.BankName }}</td>
                                        <td class="text-align-right">{{ trace.@TraceSummary.FieldName.TotalAmount | number:2 }}</td>
                                        <td>{{ trace.@TraceSummary.FieldName.CurrencyShortName }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <span class="checkbox">
                            <input type="checkbox" ng-model="isDisplayedAll" ng-checked="isDisplayedAll" ng-change="loadData();" />
                            <label>Show All Records</label>
                        </span>
                    </div>
                    <div class="col-md-4 col-md-offset-5">
                        <div class="input-group date" id="divMonth" ng-show="!isDisplayedAll">
                            <input id='dtpMonth' type="text" name="traceDate" ng-model="monthFilter" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-list-alt"></span>
                            </span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" ng-click="loadData();">Go</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="tblTrace" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Transaction</th>
                                        <th class="text-align-right">Amount</th>
                                        <th>Currency</th>
                                        <th>Descriptions</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="trace in traceList" ng-class="{'table-alternative-row' : trace.@TB_Trace.FieldName.IsLogTrace}">
                                        <td>{{ trace.@TB_Trace.FieldName.TraceDateUI }}</td>
                                        <td>{{ trace.@TB_Trace.FieldName.TransactionTypeName }}</td>
                                        <td class="text-align-right">{{ trace.@TB_Trace.FieldName.Amount | number:2 }}</td>
                                        <td>{{ trace.@TB_Trace.FieldName.CurrencyName }}</td>
                                        <td>{{ trace.@CommonProperties.Descriptions }}</td>
                                        <td><a href="#" id="btnEdit" ng-click="showTraceDialog(trace.@CommonProperties.ID, trace.@TB_Trace.FieldName.TransactionType);" ng-hide="trace.@TB_Trace.FieldName.IsLogTrace">Edit</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Normal Trace Modal -->
    <div id="dlgNormalTrace" class="modal fade" role="dialog" ng-controller="normalTraceDialogController" ng-init="bindControls();">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form name="traceForm" ng-submit="save(traceForm.$valid)" novalidate>
                    <div class="modal-header">
                        <h4 class="modal-title">{{ dialogTitle }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" ng-class="{ 'has-error' : traceForm.traceDate.$invalid }">
                            <label>Trace Date</label>
                            <div class='input-group date input-datepicker'>
                                <input id='dtpNormalTraceDate' type="text" name="traceDate" ng-model="trace.@TB_Trace.FieldName.TraceDate" class="form-control" ng-required="true" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <p ng-show="traceForm.traceDate.$error.required && traceForm.traceDate.$dirty" class="help-block">Trace Date is required.</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : traceForm.amount.$invalid }">
                            <label>Amount</label>
                            <input type="text" name="amount" ng-model="trace.@TB_Trace.FieldName.Amount" class="form-control text-align-right" ng-required="true" />
                            <div class="text-align-right">{{ trace.@TB_Trace.FieldName.Amount | number:2 }}</div>
                            <p ng-show="traceForm.amount.$error.required && traceForm.amount.$dirty" class="help-block">Amount is required.</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : traceForm.currency.$invalid }">
                            <label>Currency</label>
                            <select class="form-control selectpicker" name="currency" ng-required="true"
                                    ng-model="trace.@TB_Trace.FieldName.CurrencyID"
                                    ng-options="item.@CommonProperties.ID as item.@TB_Currency.FieldName.CurrencyName for item in currencyList">
                                <option value="@CommonValues.EmptyValue">@CommonValues.SelectOneForDropDown</option>
                            </select>
                            <p ng-show="traceForm.currency.$error.required && traceForm.currency.$dirty" class="help-block">Currency is required.</p>
                        </div>

                        <div class="form-group">
                            <label>Descriptions</label>
                            <textarea ng-model="trace.@CommonProperties.Descriptions" class="form-control" rows="5"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Tags (with ',' separator)</label>
                            <textarea ng-model="trace.@TB_Trace.FieldName.Tags" class="form-control" rows="5"></textarea>
                        </div>

                        <div class="form-group">
                            <span class="checkbox">
                                <input type="checkbox" ng-model="trace.@CommonProperties.IsActive" ng-checked="trace.@CommonProperties.IsActive" ng-disabled="isActiveCheckboxDisabled" />
                                <label>Is Active</label>
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" ng-disabled="traceForm.$invalid">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Banking Trace Modal -->
    <div id="dlgBankingTrace" class="modal fade" role="dialog" ng-controller="bankingTraceDialogController" ng-init="bindControls();">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form name="bankingTraceForm" ng-submit="save(bankingTraceForm.$valid)" novalidate>
                    <div class="modal-header">
                        <h4 class="modal-title">{{ dialogTitle }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" ng-class="{ 'has-error' : bankingTraceForm.traceDate.$invalid }">
                            <label>Trace Date</label>
                            <div class='input-group date input-datepicker'>
                                <input id='dtpBankingTraceDate' type="text" name="traceDate" ng-model="trace.@TB_Trace.FieldName.TraceDate" class="form-control" ng-required="true" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <p ng-show="bankingTraceForm.traceDate.$error.required && bankingTraceForm.traceDate.$dirty" class="help-block">Trace Date is required.</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : bankingTraceForm.amount.$invalid }">
                            <label>Amount</label>
                            <input type="text" name="amount" ng-model="trace.@TB_Trace.FieldName.Amount" class="form-control text-align-right" ng-required="true" />
                            <div class="text-align-right">{{ trace.@TB_Trace.FieldName.Amount | number:2 }}</div>
                            <p ng-show="bankingTraceForm.amount.$error.required && bankingTraceForm.amount.$dirty" class="help-block">Amount is required.</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : bankingTraceForm.currency.$invalid }">
                            <label>Currency</label>
                            <select class="form-control selectpicker" name="currency" ng-required="true"
                                    ng-model="trace.@TB_Trace.FieldName.CurrencyID"
                                    ng-options="item.@CommonProperties.ID as item.@TB_Currency.FieldName.CurrencyName for item in currencyList">
                                <option value="@CommonValues.EmptyValue">@CommonValues.SelectOneForDropDown</option>
                            </select>
                            <p ng-show="bankingTraceForm.currency.$error.required && bankingTraceForm.currency.$dirty" class="help-block">Currency is required.</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : bankingTraceForm.bank.$invalid }">
                            <label>Bank</label>
                            <select class="form-control selectpicker" name="bank" ng-required="true"
                                    ng-model="trace.@TB_Trace.FieldName.BankID"
                                    ng-options="item.@CommonProperties.ID as item.@TB_Bank.FieldName.BankName for item in banks">
                                <option value="@CommonValues.EmptyValue">@CommonValues.SelectOneForDropDown</option>
                            </select>
                            <p ng-show="bankingTraceForm.bank.$error.required && bankingTraceForm.bank.$dirty" class="help-block">Bank is required.</p>
                        </div>

                        <div class="form-group">
                            <label>Descriptions</label>
                            <textarea ng-model="trace.@CommonProperties.Descriptions" class="form-control" rows="5"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Tags (with ',' separator)</label>
                            <textarea ng-model="trace.@TB_Trace.FieldName.Tags" class="form-control" rows="5"></textarea>
                        </div>

                        <div class="form-group">
                            <span class="checkbox">
                                <input type="checkbox" ng-model="trace.@CommonProperties.IsActive" ng-checked="trace.@CommonProperties.IsActive" ng-disabled="isActiveCheckboxDisabled" />
                                <label>Is Active</label>
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" ng-disabled="bankingTraceForm.$invalid">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Exchange Trace Modal -->
    <div id="dlgExchangeTrace" class="modal fade" role="dialog" ng-controller="exchangeTraceDialogController" ng-init="bindControls();">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form name="exchangeTraceForm" ng-submit="save(exchangeTraceForm.$valid)" novalidate>
                    <div class="modal-header">
                        <h4 class="modal-title">{{ dialogTitle }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" ng-class="{ 'has-error' : exchangeTraceForm.traceDate.$invalid }">
                            <label>Trace Date</label>
                            <div class='input-group date input-datepicker'>
                                <input id='dtpExchangeTraceDate' type="text" name="traceDate" ng-model="trace.@TB_Trace.FieldName.TraceDate" class="form-control" ng-required="true" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <p ng-show="exchangeTraceForm.traceDate.$error.required && exchangeTraceForm.traceDate.$dirty" class="help-block">Trace Date is required.</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : exchangeTraceForm.sourceAmount.$invalid }">
                            <label>Source Amount</label>
                            <input type="text" name="sourceAmount" ng-model="trace.@TB_Trace.FieldName.Amount" class="form-control text-align-right" ng-required="true" />
                            <div class="text-align-right">{{ trace.@TB_Trace.FieldName.Amount | number:2 }}</div>
                            <p ng-show="exchangeTraceForm.sourceAmount.$error.required && exchangeTraceForm.sourceAmount.$dirty" class="help-block">Source Amount is required.</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : exchangeTraceForm.sourceCurrency.$invalid }">
                            <label>Source Currency</label>
                            <select class="form-control selectpicker" name="sourceCurrency" ng-required="true"
                                    ng-model="trace.@TB_Trace.FieldName.CurrencyID"
                                    ng-options="item.@CommonProperties.ID as item.@TB_Currency.FieldName.CurrencyName for item in currencyList">
                                <option value="@CommonValues.EmptyValue">@CommonValues.SelectOneForDropDown</option>
                            </select>
                            <p ng-show="exchangeTraceForm.sourceCurrency.$error.required && exchangeTraceForm.sourceCurrency.$dirty" class="help-block">Source Currency is required.</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : exchangeTraceForm.destAmount.$invalid }">
                            <label>Destination Amount</label>
                            <input type="text" name="destAmount" ng-model="trace.@TB_Trace.FieldName.ExchangeAmount" class="form-control text-align-right" ng-required="true" />
                            <div class="text-align-right">{{ trace.@TB_Trace.FieldName.ExchangeAmount | number:2 }}</div>
                            <p ng-show="exchangeTraceForm.destAmount.$error.required && exchangeTraceForm.destAmount.$dirty" class="help-block">Destination Amount is required.</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : exchangeTraceForm.destCurrency.$invalid }">
                            <label>Destination Currency</label>
                            <select class="form-control selectpicker" name="destCurrency" ng-required="true"
                                    ng-model="trace.@TB_Trace.FieldName.ExchangeCurrencyID"
                                    ng-options="item.@CommonProperties.ID as item.@TB_Currency.FieldName.CurrencyName for item in currencyList">
                                <option value="@CommonValues.EmptyValue">@CommonValues.SelectOneForDropDown</option>
                            </select>
                            <p ng-show="exchangeTraceForm.destCurrency.$error.required && exchangeTraceForm.destCurrency.$dirty" class="help-block">Destination Currency is required.</p>
                        </div>

                        <div class="form-group">
                            <label>Descriptions</label>
                            <textarea ng-model="trace.@CommonProperties.Descriptions" class="form-control" rows="5"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Tags (with ',' separator)</label>
                            <textarea ng-model="trace.@TB_Trace.FieldName.Tags" class="form-control" rows="5"></textarea>
                        </div>

                        <div class="form-group">
                            <span class="checkbox">
                                <input type="checkbox" ng-model="trace.@CommonProperties.IsActive" ng-checked="trace.@CommonProperties.IsActive" ng-disabled="isActiveCheckboxDisabled" />
                                <label>Is Active</label>
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" ng-disabled="traceForm.$invalid">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Transfer Trace Modal -->
    <div id="dlgTransferTrace" class="modal fade" role="dialog" ng-controller="transferTraceDialogController" ng-init="bindControls();">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form name="transferTraceForm" ng-submit="save(transferTraceForm.$valid)" novalidate>
                    <div class="modal-header">
                        <h4 class="modal-title">{{ dialogTitle }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" ng-class="{ 'has-error' : transferTraceForm.traceDate.$invalid }">
                            <label>Trace Date</label>
                            <div class='input-group date input-datepicker'>
                                <input id='dtpTransferTraceDate' type="text" name="traceDate" ng-model="trace.@TB_Trace.FieldName.TraceDate" class="form-control" ng-required="true" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <p ng-show="transferTraceForm.traceDate.$error.required && transferTraceForm.traceDate.$dirty" class="help-block">Trace Date is required.</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : traceForm.amount.$invalid }">
                            <label>Amount</label>
                            <input type="text" name="amount" ng-model="trace.@TB_Trace.FieldName.Amount" class="form-control text-align-right" ng-required="true" />
                            <div class="text-align-right">{{ trace.@TB_Trace.FieldName.Amount | number:2 }}</div>
                            <p ng-show="transferTraceForm.amount.$error.required && transferTraceForm.amount.$dirty" class="help-block">Amount is required.</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : transferTraceForm.transferredUser.$invalid }">
                            <label>Transferred User</label>
                            <select class="form-control selectpicker" name="transferredUser" ng-required="true"
                                    ng-model="trace.@TB_Trace.FieldName.TransferredUserID"
                                    ng-options="item.@CommonProperties.ID as item.@TB_User.FieldName.FullName for item in userList">
                                <option value="@CommonValues.EmptyValue">@CommonValues.SelectOneForDropDown</option>
                            </select>
                            <p ng-show="transferTraceForm.transferredUser.$error.required && transferTraceForm.transferredUser.$dirty" class="help-block">Transferred User is required.</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : traceForm.currency.$invalid }">
                            <label>Currency</label>
                            <select class="form-control selectpicker" name="currency" ng-required="true"
                                    ng-model="trace.@TB_Trace.FieldName.CurrencyID"
                                    ng-options="item.@CommonProperties.ID as item.@TB_Currency.FieldName.CurrencyName for item in currencyList">
                                <option value="@CommonValues.EmptyValue">@CommonValues.SelectOneForDropDown</option>
                            </select>
                            <p ng-show="traceForm.currency.$error.required && traceForm.currency.$dirty" class="help-block">Currency is required.</p>
                        </div>

                        <div class="form-group">
                            <label>Descriptions</label>
                            <textarea ng-model="trace.@CommonProperties.Descriptions" class="form-control" rows="5"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Tags (with ',' separator)</label>
                            <textarea ng-model="trace.@TB_Trace.FieldName.Tags" class="form-control" rows="5"></textarea>
                        </div>

                        <div class="form-group">
                            <span class="checkbox">
                                <input type="checkbox" ng-model="trace.@CommonProperties.IsActive" ng-checked="trace.@CommonProperties.IsActive" ng-disabled="isActiveCheckboxDisabled" />
                                <label>Is Active</label>
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" ng-disabled="transferTraceForm.$invalid">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
