@using Yumiki.Web.MoneyTrace.Constants;
@using Yumiki.Commons.Dictionaries;
@using Yumiki.Entity.MoneyTrace;
@{
    ViewBag.Title = "Trace";
}

@section Script{
<script src="~/Areas/MoneyTrace/clients/scripts/yumiki-money-trace.js"></script>
<script src="~/Areas/MoneyTrace/clients/scripts/trace/yumiki-money-trace-trace.js"></script>
<script src="~/Areas/MoneyTrace/clients/scripts/trace/yumiki-money-trace-trace-controls.js"></script>
<script src="~/Areas/MoneyTrace/clients/scripts/trace/yumiki-money-trace-trace-list.js"></script>
<script src="~/Areas/MoneyTrace/clients/scripts/trace/yumiki-money-trace-trace-normal.js"></script>
<script src="~/Areas/MoneyTrace/clients/scripts/trace/yumiki-money-trace-trace-banking.js"></script>
<script src="~/Areas/MoneyTrace/clients/scripts/trace/yumiki-money-trace-trace-exchange.js"></script>
<script src="~/Areas/MoneyTrace/clients/scripts/trace/yumiki-money-trace-trace-transfer.js"></script>

    <script type="text/javascript">
        yumiki.moneyTrace.trace.init(
            {
                currencyGetAllWithShareableItemsUrl: '@Url.HttpRouteUrl(RouteNames.CurrencyGetAllWithShareableItems, null)',
                bankGetAllWithShareableItemsUrl: '@Url.HttpRouteUrl(RouteNames.BankGetAllWithShareableItems, null)',
                userGetAllUrl: '@Url.HttpRouteUrl(RouteNames.UserGetAll, null)',
                traceGetAllUrl: '@Url.HttpRouteUrl(RouteNames.TraceGetAll, null)',
                traceGetTotalSummaryUrl: '@Url.HttpRouteUrl(RouteNames.TraceGetTotalSummary, null)',
                traceGetBankingSummaryUrl: '@Url.HttpRouteUrl(RouteNames.TraceGetBankingSummary, null)',
                traceGetByIDUrl: '@Url.HttpRouteUrl(RouteNames.TraceGetByID, null)',
                traceSaveUrl : '@Url.HttpRouteUrl(RouteNames.TraceSave, null)'
            },
            '@ViewBag.CurrentDate',
            '@Formats.DateTime.MonthYear',
            '@Formats.DateTime.ClientMomentLongDate',
            {
                income: '@((int)EN_TransactionType.E_INCOME)',
                outcome: '@((int)EN_TransactionType.E_OUTCOME)',
                banking: '@((int)EN_TransactionType.E_BANKING)',
                exchange: '@((int)EN_TransactionType.E_EXCHANGE)',
                transfer: '@((int)EN_TransactionType.E_TRANSFER)'
            },
            '@Yumiki.Commons.Logging.LogLevel.ERROR'
        );

        yumiki.moneyTrace.trace.controls.init('@ViewBag.CurrentDate', '@Formats.DateTime.MonthYear', '@Url.HttpRouteUrl(RouteNames.TraceGetTags, null)');

        yumiki.moneyTrace.trace.normal.init(
            {
                '@CommonProperties.ID': undefined,
                '@TB_Trace.FieldName.Amount': 0,
                '@TB_Trace.FieldName.Tags': '',
                '@TB_Trace.FieldName.CurrencyID': '',
                '@TB_Trace.FieldName.TransactionType': @((int)EN_TransactionType.E_INCOME),
                '@TB_Trace.FieldName.TraceDate': '@ViewBag.CurrentDate',
                '@CommonProperties.IsActive': true
            }
        );

        yumiki.moneyTrace.trace.banking.init(
            {
                '@CommonProperties.ID': undefined,
                '@TB_Trace.FieldName.Amount': 0,
                '@TB_Trace.FieldName.Tags': '',
                '@TB_Trace.FieldName.CurrencyID': '',
                '@TB_Trace.FieldName.BankName': '',
                '@TB_Trace.FieldName.TransactionType': @((int)EN_TransactionType.E_BANKING),
                '@TB_Trace.FieldName.TraceDate': '@ViewBag.CurrentDate',
                '@CommonProperties.IsActive': true
            }
        );

        yumiki.moneyTrace.trace.exchange.init(
            {
                '@CommonProperties.ID': undefined,
                '@TB_Trace.FieldName.Amount': 0,
                '@TB_Trace.FieldName.ExchangeAmount': 0,
                '@TB_Trace.FieldName.Tags': '',
                '@TB_Trace.FieldName.CurrencyID': '',
                '@TB_Trace.FieldName.ExchangeCurrencyID': '',
                '@TB_Trace.FieldName.TransactionType': @((int)EN_TransactionType.E_EXCHANGE),
                '@TB_Trace.FieldName.TraceDate': '@ViewBag.CurrentDate',
                '@CommonProperties.IsActive': true
            }
        );

        yumiki.moneyTrace.trace.transfer.init(
            {
                '@CommonProperties.ID': undefined,
                '@TB_Trace.FieldName.Amount': 0,
                '@TB_Trace.FieldName.Tags': '',
                '@TB_Trace.FieldName.CurrencyID': '',
                '@TB_Trace.FieldName.TransferredUserID': '',
                '@TB_Trace.FieldName.TransactionType': @((int)EN_TransactionType.E_TRANSFER),
                '@TB_Trace.FieldName.TraceDate': '@ViewBag.CurrentDate',
                '@CommonProperties.IsActive': true
            }
        );
    </script>
}

<div ng-app="moneyTrace">
    @Html.Partial("_TraceList")

    @Html.Partial("_NormalTrace")

    @Html.Partial("_BankingTrace")

    @Html.Partial("_ExchangeTrace")

    @Html.Partial("_TransferTrace")
</div>
