@using Yumiki.Web.MoneyTrace.Constants
@using Yumiki.Commons.Dictionaries;
@using Yumiki.Entity.MoneyTrace;
@{
    ViewBag.Title = "Currency";
}

@section Script{
    <script type="text/javascript">
        //Declare constant variables.
        var showActiveCurrencyString = 'Show Active Currency';
        var showInactiveCurrencyString = 'Show Inactive Currency';

        var app = angular.module('moneyTrace', []);

        //Service to transfer data between controllers.
        app.factory('DataTransfer', function () {
            return { currencyID: '' };
        });

        //Service to communicate with Server.
        app.service('DataService', function ($http) {
            this.getCurrencyList = function (showInactive) {
                return $http.get('@Url.HttpRouteUrl(RouteNames.CurrencyGetAll, null)', { params: { 'showInactive': showInactive } });
            };

            this.getCurrencyByID = function (currencyID) {
                return $http.get('@Url.HttpRouteUrl(RouteNames.CurrencyGetByID, null)', { params: { 'currencyID': currencyID } });
            };

            this.save = function (currency) {
                return $http.post('@Url.HttpRouteUrl(RouteNames.CurrencyGetSave, null)', currency);
            };
        });

        //Controller to display items' list
        app.controller('currencyController', function ($scope, $rootScope, $http, DataService, DataTransfer) {
            $scope.inactiveButtonName = showInactiveCurrencyString;

            //To determine when load active or inactive list.
            $scope.isStatusChanged = false;

            //Display Dialog and pass data to Dialog.
            $scope.showDialog = function (currencyID) {
                //Call DialogController
                $rootScope.$broadcast("OnLoad", currencyID);
            }

            //Event for other controllers to reload data.
            $rootScope.$on('OnReloadData', function (event) {
                $scope.loadData();
            });

            //Load active or inactive list.
            $scope.loadData = function () {
                var showInactive = true;
                if ($scope.inactiveButtonName == showInactiveCurrencyString) {
                    showInactive = false;
                }

                if ($scope.isStatusChanged) {
                    showInactive = !showInactive;
                }

                $(this).showLoadingBar();
                DataService.getCurrencyList(showInactive).then(function mySucces(response) {
                    $scope.currencyList = response.data;

                    if ($scope.isStatusChanged) {
                        if ($scope.inactiveButtonName == showInactiveCurrencyString) {
                            $scope.inactiveButtonName = showActiveCurrencyString;
                        } else {
                            $scope.inactiveButtonName = showInactiveCurrencyString;
                        }
                        $scope.isStatusChanged = false;
                    }
                    $(this).hideLoadingBar();
                }, function myError(response) {
                    $scope.isStatusChanged = false;
                    alert(response.data);
                    $(this).hideLoadingBar();
                });
            };

            //When click on "ShowInActiveButton", reload data with active status.
            $scope.loadDataWithStatus = function () {
                $scope.isStatusChanged = true;
                $scope.loadData();
            }
        });

        //Controller to display dialog
        app.controller('currencyDialogController', function ($scope, $rootScope, $http, DataService, DataTransfer) {
            $scope.currencyID = undefined;

            //Used to be called by other controllers.
            $rootScope.$on('OnLoad', function (event, currencyID) {
                $('#dlgCurrency').modal({ backdrop: 'static' });

                if (currencyID != undefined && currencyID != null) {
                    $scope.currencyID = currencyID;
                    $scope.dialogTitle = "Edit Currency";
                    $(this).showLoadingBar();
                    DataService.getCurrencyByID($scope.currencyID)
                        .then(function mySucces(response) {
                            $scope.currency = response.data;
                            $(this).hideLoadingBar();
                        }, function myError(response) {
                            alert(response.data);
                            $(this).hideLoadingBar();
                        });

                } else {
                    $scope.dialogTitle = "New Currency";

                    $scope.currency = $scope.resetCurrency();
                }
            });

            //Reset object in new mode.
            $scope.resetCurrency = function () {
                return {
                    '@CommonProperties.ID': undefined,
                    '@TB_Currency.FieldName.CurrencyName': '',
                    '@TB_Currency.FieldName.CurrencyShortName': '',
                    '@CommonProperties.IsActive': true
                };
            }

            //Save new or update object
            $scope.save = function (isValid) {
                if (isValid) {
                    $(this).showLoadingBar();
                    DataService.save($scope.currency)
                        .then(function mySucces(response) {
                            $scope.currencyID = undefined;
                            $('#dlgCurrency').modal('hide');

                            $scope.ReloadData();
                        }, function myError(response) {
                            alert('fail');
                            $(this).hideLoadingBar();
                        });
                }
            };

            //After saving, reload list.
            $scope.ReloadData = function () {
                $rootScope.$broadcast("OnReloadData");
            };
        });
    </script>
}
<div ng-app="moneyTrace">
    <div class="container" ng-controller="currencyController" ng-init="loadData();">
        <h2>Currency</h2>
        <div class="well well-sm">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="showDialog();">Add</button>
                <button type="button" class="btn btn-primary" ng-click="loadDataWithStatus();">{{inactiveButtonName}}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="tblCurrency" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Currency Name</th>
                                <th>Short Name</th>
                                <th>Descriptions</th>
                                <th>Active Status</th>
                                <th>Modify Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="currency in currencyList">
                                <td>{{ currency.@TB_Currency.FieldName.CurrencyName }}</td>
                                <td>{{ currency.@TB_Currency.FieldName.CurrencyShortName }}</td>
                                <td>{{ currency.@CommonProperties.Descriptions }}</td>
                                <td>{{ currency.@CommonProperties.IsActive }}</td>
                                <td>{{ currency.@CommonProperties.LastUpdateDateUI }}</td>
                                <td><a href="#" id="btnEdit" ng-click="showDialog(currency.@CommonProperties.ID);">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <div id="dlgCurrency" class="modal fade" role="dialog" ng-controller="currencyDialogController">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form name="currencyForm" ng-submit="save(currencyForm.$valid)" novalidate>
                    <div class="modal-header">
                        <h4 class="modal-title">{{ dialogTitle }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" ng-class="{ 'has-error' : currencyForm.currencyName.$invalid }">
                            <label>Currency Name</label>
                            <input type="text" name="currencyName" ng-model="currency.CurrencyName" class="form-control" ng-required="true" />
                            <p ng-show="currencyForm.currencyName.$error.required && currencyForm.currencyName.$dirty" class="help-block">Currency Name is required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : currencyForm.currencyShortName.$invalid }">
                            <label>Currency Short Name</label>
                            <input type="text" name="currencyShortName" ng-model="currency.CurrencyShortName" class="form-control" ng-required="true" ng-minlength="3" ng-maxlength="4" />
                            <p ng-show="currencyForm.currencyShortName.$error.required && currencyForm.currencyShortName.$dirty" class="help-block">Currency Short Name is required.</p>
                            <p ng-show="currencyForm.currencyShortName.$error.minlength" class="help-block">Currency Short Name needs at least 3 characters.</p>
                            <p ng-show="currencyForm.currencyShortName.$error.maxlength" class="help-block">Currency Short Name exceeds maximum 4 characters.</p>
                        </div>
                        <div class="form-group">
                            <label>Descriptions</label>
                            <textarea ng-model="currency.Descriptions" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" ng-disabled="currencyForm.$invalid">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

