@using Yumiki.Commons.Helpers
@using SquishIt.Framework

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(string.IsNullOrWhiteSpace(ViewBag.Title) ? string.Empty : string.Format("{0} - ", ViewBag.Title))YUMIKI PORTAL</title>
    <!--3rd Libraries-->
    @MvcHtmlString.Create(
        Bundle.Css()
        .Add("~/third-party-clients/jquery-3.2.1/jquery-ui.min.css")
        .Add("~/third-party-clients/bootstrap-3.3.7/css/bootstrap.min.css")
        .Add("~/third-party-clients/bootstrap-datetimepicker-4.17.43/bootstrap-datetimepicker.min.css")
        .Add("~/third-party-clients/font-awesome-4.7.0/css/font-awesome.min.css")
        .Add("~/clients/styles/site.less")
        .Render("~/cache/yumiki_#.css"))

    @MvcHtmlString.Create(
        Bundle.JavaScript()
        .Add("~/third-party-clients/jquery-3.2.1/jquery.min.js")
        .Add("~/third-party-clients/jquery-3.2.1/jquery-ui.min.js")
        .Add("~/third-party-clients/angular-js-1.6.5/angular.min.js")
        .Add("~/third-party-clients/bootstrap-3.3.7/js/bootstrap.min.js")
        .Add("~/third-party-clients/angular-ui-bootstrap-2.5.0/angular-ui-bootstrap.min.js")
        .Add("~/third-party-clients/moment-js-2.18.1/moment.min.js")
        .Add("~/third-party-clients/bootstrap-datetimepicker-4.17.43/bootstrap-datetimepicker.min.js")
        .Add("~/third-party-clients/mark-js-8.9.1/jquery.mark.min.js")
        .Add("~/third-party-clients/chart-js-2.7.0/chart.min.js")
        .Add("~/clients/scripts/yumiki.js")
        .Add("~/clients/scripts/yumiki-angular.js")
        .Add("~/clients/scripts/yumiki-jquery.js")
        .Add("~/clients/scripts/yumiki-menu.js")
        .Add("~/clients/scripts/yumiki-message.js")
        .Add("~/clients/scripts/yumiki-side-bar.js")
        .Add("~/clients/scripts/init.js")
        .Render("~/cache/yumiki_#.js"))

    <script type="text/javascript">
        //Overide NoSession variable
        yumiki.noSession = '@Yumiki.Commons.Exceptions.ExceptionCode.E_NO_SESSION.ToString()';

        $(document).ready(function () {
            //In MVC app, ViewBag.Message to send message from Server side to Client side
            @{
                if(ViewBag.Message != null)
                {
                    Yumiki.Commons.Entities.Message message = (Yumiki.Commons.Entities.Message)ViewBag.Message;
                    <text>
            yumiki.message.clientMessage('@message.Msg', '@message.Details', '@message.LogType');
                    </text>
                }
            }
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">YUMIKI PORTAL</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{ Html.RenderAction("GetMenu", "Home", new { area = "" }); }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p class="navbar-text">
                            <span class="fa fa-user-circle-o"></span>
                            @ViewBag.UserName
                        </p>
                    </li>
                    @if (!string.IsNullOrWhiteSpace(@ViewBag.UserName))
                    {
                        <li>
                            @Html.ActionLink(" ", "Logout", "Home", new { area = "" }, new { @class= "fa fa-sign-out", title="Log Out" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-btn btn navbar-toggle navbar-toggle-override collapsed" data-toggle="collapse" data-target="#navbarFooter" aria-expanded="false" aria-controls="navbar">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </button>
                <a href="#" class="navbar-btn btn pull-left" onclick="yumiki.sideBar.openNav()">
                    <span class="fa fa-windows"></span>
                </a>
                <p class="navbar-text">
                    &nbsp;© @DateTimeExtension.GetSystemDatetime().Year.ToString() - Yumiki Portal.
                </p>
            </div>
            <div id="navbarFooter" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p class="navbar-text">
                            <b>Your Time Zone</b>: @ViewBag.TimeZone
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Loading Progress Bar-->
    <div id="dlgLoadingBar" class="modal fade">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    Loading... <i class="fa fa-hourglass-o gly-spin"></i>
                </div>
            </div>
        </div>
    </div>
    <!--Message Dialog-->
    <div id="dlgMessageDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="txtDialogTitle"></h4>
                </div>
                <div class="modal-body">
                    <div id="txtMessage"></div>
                    <div id="txtDetails" class="panel panel-default collapse">
                        <div class="panel-heading">Details...</div>
                        <div id="txtMessageDetails" class="panel-body yumiki-panel">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnMessageDetails" class="btn btn-default" data-toggle="collapse" data-target="#txtDetails">Details...</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Side Bar Navigation-->
    <div id="sbnSideBarNav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="yumiki.sideBar.closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
    @RenderSection("Script", required: false)
</body>
</html>
