@using Yumiki.Commons.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YUMIKI PORTAL</title>
    <!--3rd Libraries-->
    <script src="../../../client/scripts/jquery.min.js"></script>
    <script src="../../../client/scripts/angular.min.js"></script>

    <link href="~/client/contents/bootstrap.min.css" rel="stylesheet" />
    <script src="../../../client/scripts/bootstrap.min.js"></script>

    <link href="~/client/contents/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/client/scripts/moment.min.js"></script>
    <script src="../../../client/scripts/bootstrap-datetimepicker.min.js"></script>


    <!--Global Libraries-->
    <link href="~/client/contents/site.less" rel="stylesheet" />
    <script src="../../../client/scripts/site.js"></script>

    <script type="text/javascript">
        //Overide NoSession variable in site.js.
        noSession = '@Yumiki.Commons.Exceptions.ExceptionCode.E_NO_SESSION.ToString()';
    </script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">YUMIKI PORTAL</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{ Html.RenderAction("GetMenu", "Home", new { area = "" }); }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p class="navbar-text">
                            <span class="glyphicon glyphicon-user"></span>
                            @ViewBag.UserName
                        </p>
                    </li>
                    @if (!string.IsNullOrWhiteSpace(@ViewBag.UserName))
                    {
                        <li>
                            @Html.ActionLink("Log out", "Logout", "Home", new { area = "" }, null)
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-btn btn navbar-toggle navbar-toggle-override collapsed" data-toggle="collapse" data-target="#navbarFooter" aria-expanded="false" aria-controls="navbar">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </button>
                <a href="#" class="navbar-btn btn pull-left" onclick="openNav()">
                    <span class="glyphicon glyphicon-th-large"></span>
                </a>
                <p class="navbar-text">
                    &nbsp;© @DateTimeHelper.GetSystemDatetime().Year.ToString() - Yumiki Portal.
                </p>
            </div>
            <div id="navbarFooter" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p class="navbar-text">
                            <b>Your Time Zone</b>: @ViewBag.TimeZone
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Loading Progress Bar-->
    <div id="dlgLoadingBar" class="modal fade">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    Loading... <i class="glyphicon glyphicon-repeat gly-spin"></i>
                </div>
            </div>
        </div>
    </div>
    <!--Message Dialog-->
    <div id="dlgMessageDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="txtDialogTitle"></h4>
                </div>
                <div class="modal-body">
                    <div id="txtMessage"></div>
                    <div id="txtDetails" class="panel panel-default collapse">
                        <div class="panel-heading">Details...</div>
                        <div id="txtMessageDetails" class="panel-body">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnMessageDetails" class="btn btn-default" data-toggle="collapse" data-target="#txtDetails">Details...</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Side Bar Navigation-->
    <div id="sbnSideBarNav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
    @RenderSection("Script", required: false)
</body>
</html>
