@model IEnumerable<Yumiki.Web.WellCovered.Models.MD_Object>

@{
    ViewBag.Title = "Object List";
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <div class="well well-sm">
        <div class="btn-group">
            @Html.ActionLink("Add", "Create", new { }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Go Live", "Dashboard", "Live", new { }, new { @class = "btn btn-info" })
            @{ 
                if (string.IsNullOrWhiteSpace(Request.Params["active"]) ||  bool.Parse(Request.Params["active"]))
                {
                    @Html.ActionLink("Show Inactive", "List", new { active = false }, new { @class = "btn btn-default" })
                }
                else
                {
                    @Html.ActionLink("Show Active", "List", new { active = true }, new { @class = "btn btn-default" })
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.ObjectName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApplicationName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descriptions)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastUpdateDateUI)
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                                @Html.ActionLink("Fields", "List", "Field", new { active = true, objectID = item.ID.ToString() }, new { })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ObjectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApplicationName)
                            </td>
                            <td>
                                @Html.DisplayNameFor(model => model.Descriptions)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastUpdateDateUI)
                            </td>
                            <td>
                                @using (Html.BeginForm("PublishObject", "Live", FormMethod.Post, new { @id = string.Format("form-{0}", item.ID.ToString()) }))
                                {
                                    @Html.Hidden("objectID", item.ID.ToString())
                                    <a href="#" onclick="onFormSubmit('@string.Format("form-{0}", item.ID.ToString()) ');">Publish</a>
                                }
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script type="text/javascript">
        var onFormSubmit = function (id) {
            //Submit form
            var form = $('#' + id);
            form.submit();
        }
    </script>
}
