@using Yumiki.Web.MoneyTrace.Constants
@using Yumiki.Commons.Dictionaries;
@using Yumiki.Commons.Helpers;
@using Yumiki.Entity.MoneyTrace;
@using SquishIt.Framework;

@{
    ViewBag.Title = "Bank Account";
}

@section BottomScript{
    <style type="text/css">
        /*stop animation when accordion get collapsed */
        .collapsing {
            -webkit-transition: none;
            transition: none;
        }

        .panel {
            border: none;
        }
    </style>

    @MvcHtmlString.Create(
        Bundle.JavaScript()
        .Add("~/Areas/MoneyTrace/clients/scripts/yumiki-money-trace.js")
        .Add("~/Areas/MoneyTrace/clients/scripts/yumiki-money-trace-bank-account.js")
        .WithMinifier(new SquishIt.Framework.Minifiers.JavaScript.JsMinMinifier())
        .Render("~/cache/yumiki_#.js"))

    <script type="text/javascript">
        yumiki.moneyTrace.bankAccount.initBankAccount(
            {
                '@CommonProperties.ID': undefined,
                '@TB_BankAccount.FieldName.AccountNumber': '',
                '@TB_BankAccount.FieldName.Amount': 0,
                '@TB_BankAccount.FieldName.WithdrawDate': '',
                '@TB_BankAccount.FieldName.DepositDate  ': '',
                '@TB_BankAccount.FieldName.BankID': '',
                '@TB_BankAccount.FieldName.CurrencyID': '',
                '@TB_BankAccount.FieldName.Interest': 0,
                '@CommonProperties.IsActive': true,
                '@CommonProperties.Descriptions': ''
            },
            '@Url.HttpRouteUrl(RouteNames.BankAccountGetAll, null)',
            '@Url.HttpRouteUrl(RouteNames.BankAccountGetByID, null)',
            '@Url.HttpRouteUrl(RouteNames.BankAccountSave, null)',
            '@Url.HttpRouteUrl(RouteNames.SaveBankingWithdrawingTrace, null)',
            '@Url.HttpRouteUrl(RouteNames.BankGetAllWithShareableItems, null)',
            '@Url.HttpRouteUrl(RouteNames.CurrencyGetAllWithShareableItems, null)',
            '@Yumiki.Commons.Logging.LogLevel.INFO',
            '@Yumiki.Commons.Logging.LogLevel.ERROR',
            '@Formats.DateTime.ClientMomentLongDate'
        )
    </script>
}

<div ng-app="bankAccount">
    <div class="container" ng-controller="bankAccountController" ng-init="loadData();">
        <h1>Bank Account</h1>
        <div class="card bg-secondary">
            <div class="card-body p-2">
                <div class="btn-group">
                    <button type="button" class="btn" ng-click="loadDataWithStatus();">{{inactiveButtonName}}</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="tblBankAccount" class="table table-sm table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>Bank</th>
                        <th class="text-align-right">Account Number</th>
                        <th class="text-align-right">Deposit Date</th>
                        <th class="text-align-right">Withdraw Date</th>
                        <th class="text-align-right">Amount</th>
                        <th>Currency</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bankAccount in bankAccounts">
                        <td>
                            <a href="#" id="btnEdit" title="Edit" ng-click="showDialog(bankAccount.@CommonProperties.ID);"><span class="fa fa-edit"></span></a>
                        </td>
                        <td>{{ bankAccount.@TB_Bank.FieldName.BankName }}</td>
                        <td class="text-align-right">{{ bankAccount.@TB_BankAccount.FieldName.AccountNumber }}</td>
                        <td class="text-align-right">{{ bankAccount.@TB_BankAccount.FieldName.DepositDateUI }}</td>
                        <td class="text-align-right">{{ bankAccount.@TB_BankAccount.FieldName.WithdrawDateUI }}</td>
                        <td class="text-align-right">{{ bankAccount.@TB_BankAccount.FieldName.Amount | number:2 }}</td>
                        <td>{{ bankAccount.@TB_Currency.FieldName.CurrencyShortName }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md">
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="loadData();" class="pagination" boundary-link-numbers="true" rotate="true" items-per-page="itemsPerPage"></ul>
            </div>
        </div>
        <!-- Modal -->
        <div ng-controller="bankAccountDialogController" ng-init="bindControls();">
            <div id="dlgBankAccount" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <form name="bankAccountForm" ng-submit="save(bankAccountForm.$valid)" novalidate>
                            <div class="modal-header">
                                <h5 class="modal-title">{{ dialogTitle }}</h5>
                            </div>
                            <div class="modal-body">
                                <p class="text-left text-uppercase"><h4><strong><ins>Basic Info:</ins></strong></h4></p>
                                <p class="text-left"><strong>DepositDate:</strong> {{ bankAccount.@TB_BankAccount.FieldName.DepositDateUI }}</p>
                                <p class="text-left"><strong>Amount:</strong> {{ bankAccount.@TB_BankAccount.FieldName.Amount | number:2 }} {{ bankAccount.@TB_BankAccount.FieldName.CurrencyShortName }}</p>
                                <p class="text-left"><strong>Bank:</strong> {{ bankAccount.@TB_BankAccount.FieldName.BankName }}</p>
                                <hr />
                                <p class="text-left text-uppercase"><h4><strong><ins>More Details:</ins></strong></h4></p>

                                <div class="form-group">
                                    <label>Account Number</label>
                                    <input type="text" name="accountNumber" ng-model="bankAccount.@TB_BankAccount.FieldName.AccountNumber" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label>Withdraw Date</label>
                                    <div class='input-group date' datetimepicker datetimeformat="'@Formats.DateTime.ClientMomentLongDate'" ng-model="bankAccount.@TB_BankAccount.FieldName.WithdrawDate">
                                        <input type="text" name="withdrawDate" ng-model="bankAccount.@TB_BankAccount.FieldName.WithdrawDate" class="form-control" />
                                        <div class="input-group-append input-group-calendar">
                                            <span class="input-group-text">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Interest</label>
                                    <input type="text" name="interest" ng-model="bankAccount.@TB_BankAccount.FieldName.Interest" class="form-control text-right" />
                                    <div class="text-right">{{ bankAccount.@TB_BankAccount.FieldName.Interest | number:2 }}</div>
                                </div>

                                <div class="form-group">
                                    <label>Descriptions</label>
                                    <textarea ng-model="bankAccount.@CommonProperties.Descriptions" class="form-control" rows="5"></textarea>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" ng-model="bankAccount.@CommonProperties.IsActive" ng-checked="bankAccount.@CommonProperties.IsActive" ng-disabled="isActiveDisabled" /> Is Active
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label>Attachments</label>
                                    <iframe class="y-modal-attachment" src="{{ bankAccount.@CommonProperties.ID ? '@HttpConstants.CommonPages.AttachmentWidget' + bankAccount.@CommonProperties.ID : '' }}"></iframe>
                                </div>
                            </div>
                            <div class="modal-footer bg-dark">
                                <button type="button" class="btn btn-warning" ng-disabled="isWithdrawDisabled || bankAccountForm.$invalid" ng-click="openWithdrawMessageDialog()">Withdraw</button>
                                <button type="submit" class="btn btn-primary" ng-disabled="bankAccountForm.$invalid">Save</button>
                                <button type="button" class="btn" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--Message Dialog-->
            <div id="dlgWithdrawMessageDialog" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p class="text-left">Are you sure to create/update withdraw trace?</p>
                            <p class="text-left text-uppercase"><em><strong>*Notice 1:</strong> System will also create <strong>Income trace</strong> if <strong>Interest</strong> field has values. (must > 0)</em></p>
                            <p class="text-left text-uppercase"><em><strong>*Notice 2:</strong> <strong>Save</strong> all changes before withdrawing ammount.</em></p>
                        </div>
                        <div class="modal-footer bg-dark">
                            <button type="button" class="btn btn-primary" ng-click="withdraw()">Yes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
